p {
    line-height: 1.25;
}

hr {
    border-color: #4b2a10;
}

img{
    display:block;
    margin:auto;
}

#profile {
    background-color: var(--pwaa-profile-bg);
    border: solid 4px;
    border-radius: 2%;
    border-color: var(--pwaa-profile-acc);
    margin-bottom: 18px;
    padding:10px;
    grid-template-columns: 1fr 3fr;
    gap:10px;
}

#myname {
    color: black;
    background-color: var(--pwaa-profile-hl);
    margin: 0;
}

#desc {
    margin-right: 6px;
}

#thanks{
    list-style-type: disc;
    margin-left:15px;
}

.description {
    width: 100%;
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--pwaa-profile-ul);
    text-decoration-style: dashed;
}

@media (max-width:650px){
    #profile{
        grid-template-columns: 1fr;
    }
}
