body {
    margin: 0;
    padding: 0 0 5px 0;
    /*Phoenix Wright color palette*/
    --pwaa-profile-bg: #f6f5f1;
    --pwaa-profile-acc: #2784c1;
    --pwaa-profile-hl: #ffbf15;
    --pwaa-profile-ul: #b1b1b1;
    /*TGAA color palette*/
    --tgaa-textbox-border: #d1be67;
    --tgaa-textbox-innerborder: #4c4424;
    --tgaa-textbox-bg: #0d1825;
    --tgaa-choice-bg: #faf4da;
    --tgaa-choice-text: #342215;
    --tgaa-choice-border: #5e4c18;
    --tgaa-choice-border-selected: #0044ff;
    --tgaa-cr-bg: #dfd8bb;
    --tgaa-cr-text: #2b2408;
    --tgaa-logo-text: #363e51;
    --tgaa-logo-hl: #921e2b;
    --tgaa-deduction-solved: #c01716;
    --tgaa-blood-green: #88ae50;
    --tgaa-blood-blue: #365faa;
    --tgaa-blood-purple: #623d9c;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    vertical-align: top;
    overflow-wrap: break-word;
}

p,
a,
h1,
h2,
h3 {
    font-family: Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

h2{
    margin-bottom:0;
}

img{
    max-width:100%;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

h2 {
    margin-bottom: 6px;
}

.longruby{
    ruby-align:center;
}

.center {
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f3b1f;
}

.nava {
    text-decoration: none;
    display: block;
    color: white;
}

.nava:hover {
    background-color: #395d97;
}

.navli {
    float: left;
}

.navli .nava {
    padding: 8px 12px;
}

.active {
    pointer-events: none;
}

.about {
    margin: auto;
    padding-left:20px;
    padding-right:20px;
}

.strike {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}

.ul {
    text-decoration: underline;
}

.rj {
    text-align: right;
}

.title {
    background: none;
    border:none;
}
