th {
    padding: 5px;
}

hr {
    margin: 15px 0;
}

.t {
    width: 10%;
}

.i {
    width: 40%;
}

.map {
    width: 100%;
}

.name {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
}

.bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

@media (max-width:750px) {
    .map {
        margin-bottom: 4px;
    }
}
