body {
    background-color: #e4e1d7;
}

p,
h1,
h2,
li::marker {
    color: #4b2a10;
}

a {
    color: #0072bb;
}

table,
td {
    border: none;
}

td {
    max-width: 50%;
}

section{
    gap:0px 24px;
}

.active {
    background-color: #e4e1d7;
    color: #4b2a10;
}
