body,
.pf {
    background-color: var(--tgaa-cr-bg);
}

h1,
h2,
.helper {
    color: var(--tgaa-cr-text);
}

table,
th,
td {
    border-color: var(--tgaa-textbox-innerborder);
}

td {
    background-color: var(--tgaa-textbox-bg);
}

strong {
    color: white;
}

a {
    color: var(--tgaa-choice-border-selected);
}

hr {
    border-color: var(--tgaa-cr-text);
}

select {
    color: var(--tgaa-choice-text);
    border-color: var(--tgaa-choice-border);
    background-color: var(--tgaa-choice-bg);
}

#searchmode,
#filter {
    background-color: var(--tgaa-choice-bg);
    border-color: var(--tgaa-choice-border);
    color: var(--tgaa-choice-text);
}

#searchmode:hover {
    border: solid 2px var(--tgaa-choice-border-selected);
}

#filter:hover {
    border: solid 1px var(--tgaa-choice-border-selected);
}

#otherul {
    background: none;
}

.collapsible {
    background-color: var(--tgaa-choice-bg);
    border-color: var(--tgaa-choice-border);
}

.collapsible:hover,
.isActive {
    border: solid 3px var(--tgaa-choice-border-selected);
}

.choice {
    color: var(--tgaa-choice-text);
}

.tht {
    color: #18d5f8;
}

.info {
    color: #7df50b;
}

.emph {
    color: #ff6d18;
}

.gold {
    color: var(--tgaa-textbox-border);
}

.content {
    border-color: var(--tgaa-choice-border);
}

.eng {
    border-left-color: var(--tgaa-choice-border);
}

.bottom {
    border-bottom-color: var(--tgaa-choice-border);
}

.pf2 {
    background-color: #c0b898;
}

.pfp {
    color: var(--tgaa-cr-text);
    text-decoration-color: var(--tgaa-cr-text);
}

#other,
.nav2 {
    background-color: var(--tgaa-logo-hl);
}

.nava2 {
    color: white;
}

.active {
    color: var(--tgaa-logo-text);
    background-color: var(--tgaa-cr-bg);
}

#other:hover,
.nava2:hover {
    background-color: var(--tgaa-logo-text);
}

.english {
    font-family: 'Lucida Handwriting', cursive;
}

.engimg {
    display: inline-block;
}

.solved {
    color: red;
}

.ul {
    text-decoration-color: var(--tgaa-cr-text);
}

.strike {
    text-decoration-color: var(--tgaa-textbox-innerborder);
}
