table {
    margin-top: 4px;
    margin-bottom: 4px;
}

table,
th,
td {
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
}

td {
    padding: 8px 4px;
    max-width: 50%;
}

h3{
    color:white;
}

p {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.8;
    color: white;
}

rt {
    color: grey;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

#back {
    margin-top: 4px;
}

#searchmode{
    padding:8px;
    display:block;
    margin:auto;
}

.option {
    border: none;
}

.eng {
    border-left-style:solid;
    border-left-width:1px;
}

.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navli2 {
    float: left;
}

.nava2 {
    text-decoration: none;
    display: block;
}

.navli2 .nava2 {
    padding: 4px 12px;
}

.tht {
    color: #18d5f8;
}

.info {
    color: #7df50b;
}

.emph {
    color: #ff6d18;
}

.collapsible {
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: double;
    width: 99.5%;
    display:block;
    margin:auto;
}

.content {
    border-style: solid;
    border-width:2px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 99%;
    padding-top:4px;
    padding-bottom: 8px;
    padding-left:4px;
    padding-right:4px;
    margin: auto;
    display: none;
}

.ce{
    margin-bottom:0;
}

.choice{
    text-align:center;

}
